html {
    scroll-behavior: smooth;
}

.center-text{
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: -8px;
    top: 50%;
    left: 0;
    z-index: 1;
    color: $eggshell;
    opacity: 0;
}

.horizontal-center{
    justify-content: center;
}

.biopic{
    position: relative;
    height: 40%;
    border-radius: 6px;
    float: right;
    padding: 0;
    margin-left: 1.5rem;
    margin-top: 10px;
    margin-right: 10px;
}

.green{
    color: $green-light;
}

.blue{
    color: $blue-lightest;
}

.wrapper:hover img{
    opacity: 0.5;
    transition: opacity 0.5s;
}

.wrapper:hover .center-text{
    opacity: 1;
    transition: opacity 0.5s;
}