.center-text{
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: -8px;
    top: 50%;
    left: 0;
    z-index: 1;
    color: $eggshell;
    opacity: 0;
}

.horizontal-center{
    justify-content: center;
}

.full-height{
    height: 100vh;
}

.biopic{
    position: relative;
    height: 40%;
    border-radius: 30px;
    float: right;
}

.green{
    color: $green-light;
}

.blue{
    color: $blue-lightest;
}

.wrapper:hover img{
    opacity: 0.5;
}

.wrapper:hover .center-text{
    opacity: 1;
}